<html>
  <body>

   {% include "header.html" %}
	
    {% if authed == True %}

      <h1>Add book</h1>
      <form method="POST" action="/">
          <input type="text" name="title">
          <input type="submit" value="Add">
      </form>

    {% endif %}


    <h1>Books (Not Ones that Katherine has read)</h1>

    {% for book in books %}

      <p>{{book.title}}</p>

      {% if authed == True %}

        <form method="POST" action="./update">
           <input type="hidden" value="{{book.title}}" name="oldtitle">
           <input type="text" value="{{book.title}}" name="newtitle">
           <input type="submit" value="Update">
        </form>
       <form method="POST" action="./delete">
          <input type="hidden" value="{{book.title}}" name="title">
          <input type="submit" value="Delete">
       </form>

     {% endif %}
 
   {% endfor %}

   {% include "footer.html" %}

  </body>
</html>

